* {
  padding: 0;
  margin: 0;
}

.flex-container-dark,
.flex-container-white,
.flex-container-quote {
  height: 350px;
  background-color: #1f2937;
  color: white;
  padding-top: 24px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flex-container-white {
  background-color: white;
  align-items: center;
}

.flex-container-quote {
  background-color: #e5e7eb;
}

.vertical-box {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}

.horizontal-box,
.small-box {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.small-box {
  margin: 20px;
  width: 200px;
  gap: 10px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 20px;
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  width: 140px;
}

.square {
  border: 4px solid #3882f6;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}
