body {
  font-family: Roboto;
}

.white-header {
  font-size: 24px;
  color: #f9faf8;
}

.black-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

li {
  font-size: 18px;
  color: #e5e7eb;
}

.black-font {
  color: black;
  text-align: center;
}
